

<html>
    <head>
        <script src="https://kit.fontawesome.com/bcb11ebc53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./styles/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/data/favicon-16x16.png">
        <link rel="manifest" href="/data/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>Infinite Monkey Biz</title>
 
    </head>
    <body> 
      <div id="container-div" class="body-container auto-height light">
         
        <div class="nav-container"> 
          <h2><a href="/index">Matt Zacharski</a></h2> 
           
          <div class="header-container">
          {{navbar}}  
          <button id="dark-mode" class="light-mode theme-button" ><i class="fa-solid fa-circle-half-stroke"></i></button>
     
          </div>
        </div>    
     
     
          <div class="post">
          {{post3}}   
          </div> 
           
        </div>  
      </body>                        
                 
         
        
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="module" src="./main.js"></script>
</html>          