

<html>
    <head>
        <script src="https://kit.fontawesome.com/bcb11ebc53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./styles/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head> 
    <body id="body-container" class="light"> 
        <h2>Matt Zacharski</h2>
        <div class="nav-container">
          {{navbar}}  
        <button id="dark-mode" class="light-mode theme-button" ><i class="fa-solid fa-circle-half-stroke"></i></button>
        <button class="btn"> theme </button>
        </div>   
 
        <!-- set new css styles for post contents etc -->
        {{post1}}       
      </body>                    
       
    
     
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/javascript" src="./main.js"></script>
</html>               