

<html>
    <head>
        <script src="https://kit.fontawesome.com/bcb11ebc53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./styles/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body> 
      <div id="container-div" class="body-container auto-height light">
         
        <div class="nav-container"> 
          <h2>Matt Zacharski</h2> 
          
          <div class="header-container">
          {{navbar}}  
          <button id="dark-mode" class="light-mode theme-button" ><i class="fa-solid fa-circle-half-stroke"></i></button>
          <!-- <button id="theme-btn" class="btn"> theme </button> -->
          </div>
        </div>   
   
        <!-- set new css styles for post contents etc -->
          <div class="post">
          {{post3}}   
          </div> 
           
        </div>  
      </body>                       
                
        
        
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="module" src="./main.js"></script>
</html>          