<html>
    <head>
         <script src="https://kit.fontawesome.com/bcb11ebc53.js" crossorigin="anonymous"></script>
         <link rel="stylesheet" href="./styles/app.css">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Infinite Monkey Biz</title>
    </head>

  
  <body id="body-container" class="light"> 
    <h2>Matt Zacharski</h2>

    <div class="nav-container">
      {{navbar}}
      <button id="dark-mode" class="light-mode theme-button" ><i class="fa-solid fa-circle-half-stroke"></i></button>
      <button class="btn"> theme </button>
    </div>

    <div>
      <ul class="proj-container">
        <li><a href="https://google.com" target="_blank">PlayPoint</a></li>
        <li><a href="https://google.com" target="_blank">Sourgrapes</a></li>
        <li><a href="https://google.com" target="_blank">Focus Time</a></li>
        <li><a href="https://google.com" target="_blank">Spotitter</a></li>
        <li><a href="" target="_blank">Canvas Based Text Editor</a></li>
        <li><a href="https://google.com" target="_blank">Senior Thesis</a></li>
      </ul>
    </div>
    <br>
    <br>
    <div class="tips">
      <ul>
        <li class="tiptext" >CSS
          <div class="description">Cascading Stylesheets</div>
        </li>
        <li class="tiptext" data-title="Javascript">JS
          <div class="description">
            <div>well lorem ipsum lorem ipsum etc etc etc Javascript...</div>
             <img src="https://picsum.photos/id/237/200/300" alt="doggo"></div>
        </li>
        
        <li class="tiptext"> 
          JS
          <div class="description">yeehaw this is a longer tool tip, lorem ipsum lorem ispasdflj;askfja;slkfj;alskfj;lsafdwhat will happen...</div>
        </li> 

      </ul> 
    </div> 
     
 
  </body>
  <script type="text/javascript" src="./main.js"></script>
 
</html> 