<html>
    <head>
         <script src="https://kit.fontawesome.com/bcb11ebc53.js" crossorigin="anonymous"></script>
         <link rel="stylesheet" href="./styles/app.css">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Infinite Monkey Biz</title>
    </head>

  
    <body> 
      <div id="container-div" class="body-container light">
        
          <div class="nav-container"> 
            <h2>Matt Zacharski</h2> 
     
            <div class="header-container">
            {{navbar}} 
            <button id="dark-mode" class="light-mode theme-button" ><i class="fa-solid fa-circle-half-stroke"></i></button>
            <!-- <button id="theme-btn" class="btn"> theme </button> -->
            </div>
          </div>   

    <div>
      <ul class="proj-container">
        <li class="tiptext" id="welp">
          <a href="https://google.com" target="_blank" tabindex="0">PlayPoint</a>

          <div class="tooltip">
            <div class="tooltip-content">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Colorado_in_United_States.svg/640px-Colorado_in_United_States.svg.png" alt="random pic">
              <p>The State of Colorado in the United States has 272 active municipalities, comprising 197 towns, 73 cities, and two consolidated city and county governments.[1][2] At the 2020 United States Census, 4,299,942 of the 5,773,714 Colorado residents (74.47%) lived in one of these 272 municipalities.[citation needed] Another 714</p>
            </div>
          </div> 
        
        </li>
        <li class="tiptext"><a href="https://google.com" target="_blank">Sourgrapes</a></li>
        <li class="tiptext"><a href="https://google.com" target="_blank">Focus Time</a></li>
        <li class="tiptext"><a href="https://google.com" target="_blank">Spotitter</a></li>
        <li class="tiptext"><a href="" target="_blank">Canvas Based Text Editor</a></li>
        <li class="tiptext"><a href="https://google.com" target="_blank">Senior Thesis</a></li>
      </ul>
    </div>
    <!-- <div class="tips">
      <ul>
        <li class="tiptext" >CSS
          <div class="description">Cascading Stylesheets</div>
        </li>
        <li class="tiptext" data-title="Javascript">JS
          <div class="description">
            <div>well lorem ipsum lorem ipsum etc etc etc Javascript...</div>
             <img src="https://picsum.photos/id/237/200/300" alt="doggo"></div>
        </li>
        
        <li class="tiptext"> 
          JS
          <div class="description">yeehaw this is a longer tool tip, lorem ipsum lorem ispasdflj;askfja;slkfj;alskfj;lsafdwhat will happen...</div>
        </li> 

      </ul> 
    </div>  -->
     
      </div>
  </body>
  <script type="module" src="./main.js"></script>
 
</html> 