{{ define "main" }}

<main class='article {{ range .Params.categories }} {{ . | urlize }} {{ end }}'>

	<article>
		<section id="content" class="article">
			<header class="entry-header">
				<h1 class="entry-title">
				{{ .Title }}</h1>

				<p class="summary">
					{{ .Summary }}
				</p>
				<div class="metadata">
					<div class="date">
						<time class="published">{{ .Date | time.Format ":date_long" }}</time>
					</div>
					{{/*  disable metadata author for about category  */}}
					{{ if not (in .Params.categories "About") }}
						{{if (.GetTerms "authors")}}
							<div class="authors">
							<span class="byline">Written by</span>
							{{ range (.GetTerms "authors") }}
									<span class="author"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
							{{ end }}
							</div>
						{{ end }}
					{{ end }}
				</div>
			</header>

			<div class="entry-content">
				{{- $contents := split .Content `<div class="footnotes" role="doc-endnotes">` -}}
				{{ index $contents 0 | safeHTML }}
			</div>
			{{ if not (in .Params.categories "About")  }}
			{{ if not (in .Params.categories "") }}
			{{ end }}
			{{ end }}
		</section>

		{{ $commentsfile := printf "comments.en.md" }}
		{{ with .Resources.GetMatch $commentsfile }}
		<section class="comments" id="comments">
			<h2 id="comments-title">Comments</h2>
			<p><em>To make a comment, please send an e-mail to solar (at) lowtechmagazine (dot) com. Your e-mail address is not used for other purposes, and will be deleted after the comment is published. If you don't want your real name to be published, sign the e-mail with the name you want to appear.</em></p>
			<details>
				<summary><span id="comment-count"></span> Reactions</summary>
				<div id="comments-list">
					{{ .Content }}
				</div>
			</details>			
		</section>
		{{ end }}

		<section id="reference">
			<div class="footnotes" role="doc-endnotes">
			{{ index $contents 1 | safeHTML }}
		</section>


		{{$tags := (.GetTerms "tags")}}
		{{ if $tags }}
		{{ end }}
		
	</article>
</main>
{{ end }}
