{{ define "main" }}
<main class="author-list">
    <header>
      <h1 class="entry-title">{{.Title }}</h1>
    </header>
    
    <section id="list">
        <div class="entry-content">
         {{ range .Data.Terms.ByCount }} 
           <ul class="page-list">
               <li class="author-item"> 
                   <a href="{{ .Page.Permalink }}">
                   {{ .Page.Title }} 
                   </a> ({{ .Count }}) 
               </li> 
           </ul>
    {{ end }}
        {{ if (eq .Data.Plural "authors")}}
        <h4>See all <a href="/contributors/">Contributors</a></h4>
        {{end}}
        </div>   
     
    </section>
</main>
{{ end }}