<div class="battery_bg">
	<div id="battery_data" class="bat_status" data-charging="no">
	  <a href="{{ absLangURL "/power/" }}" title="Power">
	    <span id="charge_icon">
	      <svg class="icon battery-svg" viewBox="0 0 500 500"><title>Battery used</title><polygon class="svg_stroke" points="327.01 127.16 327.01 47.31 172.99 47.31 172.99 127.16 115.52 127.16 115.52 452.69 384.48 452.69 384.48 127.16 327.01 127.16"/><polygon class="svg_fill" points="357.64 408.86 158.26 408.86 158.26 209.49 357.64 408.86"/></svg>
	      
	      <img class="icon bike-svg" src="{{ .Site.BaseURL }}icons/bike.svg" alt="Bike power" />
	    </span>
	    <span id="level"></span></a>
	</div>
	<div id="battery">
	</div>
</div>