<footer class="site-footer">
  <div id=page-size>{{ i18n "pagesize" | default "Page Size"}}: <span id="size-value">$PLACEHOLDER</span></div>
  <div id=back-to-top><a href="#top" title="Back to top">↑</a></div>
  <div class="dashboard">
    <ul class="grid">
      <li>
        <h3>Generator Stats</h3>
        <dl id="stats">
        </dl>
      </li>
      <li>
        <h3>Contact</h3>
        <p>&copy; Matt<br>hello [at] infinite-monkey [dot] biz</p>
      </li>
      <li>
        <div class="forecast"></div>
      </li>
      <li>
        <div class="footer-links">
          <script async defer src="https://www.recurse-scout.com/loader.js?t=35efec8996c8ab5a5fd73a6c6f786456"></script>
        </div>
      </li>
    </ul>
  </div>
</footer>