
:root {
  --hover-color: #d3d3d3d2; /* default value */
  --text-color: #d3d3d3d2; /* default value */
  --background-color: #d3d3d3d2; /* default value */
  --callout-color: #d3d3d3d2; /* default value */
}

#container{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* background-color: var(--background-color); */
  background-color: #ebebeb;
  margin: 0px;
}



nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

nav li {
  margin-right: 10px;
}


#dark-mode{
  margin-right: 10px;
}



.light-mode {
  background-color: #ebebeb;
  color: #333333 !important;
}

.dark-mode {
  background-color: #161618;
  color: #ecedee !important;
}

.dark{
  background: #161618;
  color:  #ecedee;
}

.light{
  background: #ebebeb;
  color:  #333333;
}


.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: center; /* change to center */
  height: 100%; /* set height to 100% */
}

.header-container{
  display: flex;
  flex-direction: 'row';
  align-items: center;
  gap: '18px';
  margin-right: 14px;
}

.nav-container{
  display: flex;
  flex-direction: row;
  margin-left: 28px;
  width: 100%;
  justify-content: space-between;

}

.theme-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 4px;
  height: 25px;
  align-self: center;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.theme-button:hover {
  background-color: var(--hover-color);
}

.btn {
  background: gainsboro;
  padding: 0px 12px 0px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  border-radius: 6px;
  font-weight: 550;
  border: none;
  height: 40px; 
  align-self: center;
}

.btn:hover{
  background-color: lightgray;
}



.callout{
  margin-top: 40px;
  /* background-color: var(--callout-color); */
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  min-width: 350px;
  /* color: var(--text-color); */
  /* box-shadow: 2px 2px 10px var(--text-color); */
  box-shadow: 2px 2px 10px #5e4017;
}



a:visited { 
  text-decoration: none; 
  /* color: var(--callout-color); */
  
 }


/* a:hover { text-decoration: none; color:var(--callout-color); }
a:active { text-decoration: none; color: var(--callout-color); } */

a:hover { text-decoration: none; color: #3158D6; }
a:active { text-decoration: none; }



.posts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding-left: 0px;
  margin-top: 40px;
  gap: 6px;
}

.date {
  font-weight: bold;
  margin-right: 16px;
  /* color: var(--text-color); */
}



a {
  flex-grow: 1; /* make the link take up the remaining space in the list item */
  text-decoration: none; /* remove the underline from the link */
  /* color: var(--text-color);  */
  color: #85b857;
}


@media screen and (max-width: 415px) {
  .body-container {
    width: 300px !important;
  }

  .text {
    width: 260px !important;
  }

}



.logo-link {
  display: flex;
  align-items: center;
  background: gainsboro;
  padding: 0px 12px 0px 12px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  border: none;
  height: 40px; 
  align-self: center;
  height: 24px;
}

.logo-link:hover{
  background-color: lightgray;
}

.logo-link i {
  margin-right: 10px;
}

.links{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: space-between;
  
}


ul {
  list-style-type: none;
}

.proj-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding-left: 0px;
  margin-top: 40px;
  align-items: center;
  gap: 6px;
}


.tips li {
  cursor: pointer; 
  display: inline-block; 
  padding: 0 10px;
}



.tiptext {
  position: relative;
}


/* the solid block of tool tip  */
.tooltip {
  border:1px solid #e3e3e3;
  color: #fff;
  display: flex;
  background: rgba(0,0,0,1); 
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 10px;
  top: 130%;
  left: 0;
  z-index: 1;
  position: absolute;
}

/* maybe remove font and padding stuff so that it can be dealt with in subclasses? */


/* the triangle */
.tooltip:after {
  border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,1); 
  border-left: 6px solid transparent;
  height: 0;
  content: '';
  position: absolute;
  bottom: 100%;
  left: 12px;
}


/* deals with tooltip action */
.tiptext > .tooltip:after, .tooltip:before {
	visibility:hidden;
	opacity:0;
  transform: translate3d(0,-10px,0);
  transition: all .06s ease-in-out;
}

.tiptext:hover > .tooltip:after, .tooltip:before {
	visibility:visible;
	opacity:1;
  transform: translate3d(0,0,0);
	transition-delay:0.15s;
  transition: all .06s ease-in-out;
}

.tiptext > .tooltip {
	visibility:hidden;
	opacity:0;
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}

.tiptext:hover > .tooltip {
	visibility:visible;
	opacity:1;
  transform: translate3d(0,0,0);
	transition-delay:0.15s;
  transition: all .15s ease-in-out;
}